name: Deploy AuthService to DockerHub

on:
  push:
    branches: [ main ]

jobs:
  bandit:
      runs-on: ubuntu-latest
      name: Análisis de seguridad con Bandit
      steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.13'

        - name: Instalar Bandit
          run: pip install bandit[toml]

        - name: Ejecutar Bandit
          run: |
            bandit -r . -f json -o bandit-report.json

        - name: Subir reporte como artefacto
          uses: actions/upload-artifact@v4
          with:
            name: bandit-report
            path: bandit-report.json

  deploy:
    runs-on: ubuntu-latest
    name: Construir y desplegar microservicio en docker
    needs: bandit

    env:
      IMAGE_NAME: upload_service
      DOCKERHUB_REPO: dase123/udlaia-stats

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Iniciar sesión en DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Construir imagen del microservicio Django
        run: |
          docker build \
            -t ${{ env.IMAGE_NAME }} \
            -f Dockerfile .
      - name: Etiquetar imagen
        run: |
          docker tag ${{ env.IMAGE_NAME }} ${{ env.DOCKERHUB_REPO }}:${{ env.IMAGE_NAME }}

      - name: Subir imagen a DockerHub
        run: |
          docker push ${{ env.DOCKERHUB_REPO }}:${{ env.IMAGE_NAME }}

      - name: Mostrar imágenes subidas
        run: docker images | grep ${{ env.IMAGE_NAME }}
